body {
    font-family: sans-serif;
    background-color: #1F2937;
    color: white; 
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding: 20px 50px 30px 50px;
}

h1, p {
    margin: 0;
}

ul, a {
    display: flex;
    list-style-type: none;
    color: #F9FAF8;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    gap: 16px;
    margin: 0;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.intro-text {
    max-width: 360px;
    flex-wrap: wrap;
}

.middle {
    background-color: white;
    color: gray;
}

.middle-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    flex: 1;
}

.info {
    border: solid blue;
    border-radius: 20px;
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #1F2937;
    color: white;
}